*{
    margin: 0 auto;
}
section{
    background-image: url();
}
h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: dodgerblue;
    margin-top: 100px;
}
form{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 15px;
    font-weight: bold;
}
input{
    display: block;
    outline: 0;
    border-radius: 2px;
    padding: 5px;
    margin-top:5px;
    margin-bottom: 8px;
    border: 1px solid dodgerblue;
    transition: box-shadow 0.10s;
}
button{
    margin-top: 15px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:dodgerblue;
    outline: 0;
    border: 0;
    color: white;
    border-radius: 3px;
    padding: 8px;
}
input:focus{
    border: 1px solid dodgerblue;
    box-shadow: 0 0 0 2px lightblue;
    outline: 0;
}